body {
   
    margin: 0;
    background-color: rgb(255, 255, 255);

}


div.top {
    background-color: #221f01;
}

div.menu-position {
    border-radius: 12px;
    background-color: rgb(219, 164, 91);
    color: rgb(78, 49, 6);
}
div.menu-position:hover {
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

div.styles {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px #000000;
    
}
div.styles:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px #000000;
    background-color: rgb(182, 240, 237);
}
div.styles-green {
    background-color: green;
    color: rgb(248, 248, 248);
}
div.styles-green:hover {
   
    color: rgb(62, 22, 170);
}
div.styles-purple {
    background-color: rgb(196, 40, 196);
    color: rgb(248, 248, 248);
}
div.styles-purple:hover {
   
    color: rgb(62, 22, 170);
}
div.styles-yellow {
    background-color: rgb(219, 216, 12);
    color: rgb(58, 70, 7);
}
span.page-one {
    color: rgb(88, 80, 4);
}
span.page-five {
    color: rgb(88, 80, 4);
}
span.page-four {
    color: rgb(88, 80, 4);
}
div.selected-position {
    border: 3px solid #f1f09b;
    
   
}
td.page-td-title {
    background-color: rgba(130, 145, 0, 0.6);
    color:#ffffff;
    border-color: rgba(130, 145, 0, 0.6);
}
td.page-td {

    color:rgb(88, 80, 4);
    border-color: rgba(130, 145, 0, 0.6);
    background-color: rgba(245, 244, 190, 0.6)
}