body {
   
    margin: 0;
    background-color: rgb(255, 255, 255);

}


div.top {
    background-color: #032016;
}

div.menu-position {
    border-radius: 12px;
    background-color: rgb(119, 252, 176);
    color: rgb(0, 0, 0);
}
div.menu-position:hover {
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

div.styles {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px #000000;
    
}
div.styles:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px #000000;
    background-color: rgb(182, 240, 237);
}
div.styles-green {
    background-color: green;
    color: rgb(248, 248, 248);
}
div.styles-green:hover {
   
    color: rgb(62, 22, 170);
}
div.styles-purple {
    background-color: rgb(196, 40, 196);
    color: rgb(248, 248, 248);
}
div.styles-purple:hover {
   
    color: rgb(62, 22, 170);
}
div.styles-yellow {
    background-color: rgb(219, 216, 12);
    color: rgb(58, 70, 7);
}
div.selected-position {
    border: 3px solid #f1f09b;
    
   
}
span.page-one {
    color: #053a1b;
}
span.page-five {
    color: #053a1b;
}
span.page-four {
    color: #053a1b;
}

td.page-td-title {
    background-color: rgba(6, 117, 24, 0.6);
    color:#ffffff;
    border-color: rgba(6, 117, 24, 0.6);
   
}
td.page-td {

    color:#053a1b;
    border-color:rgba(6, 117, 24, 0.6);
    background-color: rgba(207, 240, 213, 0.6);
}